.vbox-main {
    /* Styles pour le VBox principal */
    -fx-background-color: #f0f0f0;
    -fx-padding: 10;
    -fx-spacing: 10;
}


.title-label {
    /* Styles pour les labels de sous-titre */
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-alignment: center;
    -fx-padding: 5;
}

.scroll-pane {
    /* Styles pour le ScrollPane */
    -fx-background: white;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
}

.vbox-content {
    /* Styles pour le contenu de VBox à l'intérieur du ScrollPane */
    -fx-spacing: 8;
}

.table-view {
    /* Styles pour TableView */
    -fx-font-size: 14px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5;
}

.table-view .column-header-background {

    -fx-background-color: #e6e6e6;
}

/*.table-view .table-row-cell {

    -fx-padding: 10px;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
}*/

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}