/* Styles pour le VBox principal */
.vbox-main {
    -fx-background-color: #f8f8f8;
    -fx-padding: 10;
    -fx-spacing: 10;
}

/* Styles pour le ScrollPane */
.scroll-pane {
    -fx-background: white;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
}

/* Styles pour le contenu de VBox à l'intérieur du ScrollPane */
.vbox-content {
    -fx-spacing: 8;
}

/* Styles pour les champs de texte */
.text-field {
    -fx-font-size: 14px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10;
}

/* Styles pour le HBox contenant les éléments de date et heure */
.hbox-date-time {
    -fx-spacing: 5;
}

/* Styles pour les DatePicker et ComboBox */
.date-picker, .combo-box {
    -fx-font-size: 14px;
    -fx-border-color: #cccccc;
    -fx-border-width: 1;
    -fx-padding: 5 10;
}

/* Styles pour les boutons */
.button {
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #66bb6a;
}

.label {
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.title-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-alignment: center;
    -fx-padding: 5;
}